[submodule "themes/--name"]
	path = themes/--name
	url = https://github.com/kakawait/hugo-tranquilpeak-theme
[submodule "themes/tranquilpeak"]
	path = themes/tranquilpeak
	url = https://github.com/kakawait/hugo-tranquilpeak-theme
[submodule "themes/--force"]
	path = themes/--force
	url = https://github.com/kakawait/hugo-tranquilpeak-theme
[submodule "themes/main"]
	path = themes/main
	url = https://github.com/vimux/mainroad
