[submodule "themes/--name"]
	path = themes/--name
	url = https://github.com/kakawait/hugo-tranquilpeak-theme
[submodule "themes/tranquilpeak"]
	path = themes/tranquilpeak
	url = https://github.com/kakawait/hugo-tranquilpeak-theme
[submodule "themes/hugo-theme-pixyll"]
	path = themes/hugo-theme-pixyll
	url = https://github.com/azmelanar/hugo-theme-pixyll
